<div class="top-nav__mobile-bar">
  <button class="top-nav__toggle">{{fa-icon "bars"}}</button>
  <h1 class="top-nav__mobile-brand">{{link-to ">eg" "index"}}</h1>
</div>
<ul class="yg-container top-nav__list">
  <li class="top-nav__brand">{{link-to ">eg" "index"}}</li>

  <li>{{link-to "home" "index" class="top-nav__link"}}</li>
  <li>
    <a href="https://embergrep.com" class="top-nav__link">screencasts</a>
  </li>
  <li>
    <a href="https://github.com/embergrep/todomvc-blog" class="top-nav__link">contribute {{fa-icon "github"}}</a>
  </li>
</ul>
